:root {
  --color-bg: #2C2C32;
  --color-bg-hover: #0f7dc6;
  --color-active: #0f7dc6;
}

.header{
  width: 100%;
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  
  text-align: center;
  gap: 30px;
  align-items: center;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header a {
  color: white;
  text-decoration: none;
}
.header a {
  cursor: pointer;
}
